{{page-title "Thing"}}
<Section @for={{this.model}} >
  {{this.model.id}}
</Section>
<LinkTo @route="thing" @model="{{add this.model.id -1}}">Previous</LinkTo>
<LinkTo @route="thing" @model="{{add this.model.id 1}}">Next</LinkTo>